@model LibraryManagement.Models.LibraryUserRegistrationRequest

@{
    ViewData["Title"] = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Activate</h1>

<div>
    <h4>LibraryUserRegistrationRequest</h4>
    <hr />
   <div>@ViewBag.Message</div>
</div>
<div>
    
</div>
